# version: "3.9"

# services:
#   db:
#     image: postgres:15
#     container_name: stockwise-db
#     restart: always
#     environment:
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: admin
#       POSTGRES_DB: inventoryDB
#     ports:
#       - "5432:5432"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data

#   backend:
#     build: ./stockwise-backend
#     container_name: stockwise-backend
#     restart: always
#     env_file:
#       - ./stockwise-backend/.env
#     depends_on:
#       - db
#     ports:
#       - "8000:8000"

#   frontend:
#     build: ./stockwise-frontend
#     container_name: stockwise-frontend
#     restart: always
#     depends_on:
#       - backend
#     ports:
#       - "3000:3000"

# volumes:
#   postgres_data:

version: "3.9"

services:
  db:
    image: postgres:15
    container_name: stockwise-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./stockwise-backend
    container_name: stockwise-backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  frontend:
    build: ./stockwise-frontend
    container_name: stockwise-frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  postgres_data:

